nav {
  position: sticky;
  top: 0;
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f3fa;
  padding: 10px 20px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  width: 90%;
  height: 10vh;
  margin: 0 auto;
  z-index: 10;
}
nav::after {
  display: none;
}
.nav-left {
  margin-left: 10vw;
}
.nav-left a {
  text-decoration: none;
  color: black;
}
.nav-right {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10vw;
}
.nav-right li {
  margin: 0 15px;
}
.nav-right li a {
  text-decoration: none;
  color: black;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10vw;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
}
#menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  nav {
    width: 100%;
    clip-path: none;
    margin: 0;
  }
  .nav-left {
    margin-left: 0;
  }
  .nav-right {
    /* Hide the menu by default on mobile */
    /* Which is changed when the hamburger is clicked */
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f0f3fa;
    /* Ensure the menu is displayed below the navbar */
    position: absolute;
    top: 99%;
    left: 0;
    padding: 0;
  }
  .nav-right li {
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #e1e7f7;
  }
  .nav-right li:last-child {
    border-bottom: none;
  }
  .hamburger {
    display: flex;
  }
  #menu-toggle:checked + .hamburger + .nav-right {
    display: flex;
  }
}
