header {
  /* size & shape of the header */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background-color: #f0f3fa;
  /* height: 80px; to keep the height no matter the screen height */
  height: 10vh;
  width: 90%;
  margin: 0 auto; /* center the header */
  padding: 25px 0; /* center the items vertically */

  @media (max-width: 768px) {
    /* remove the clip-path on small screen as it causes issues with the nav items */
    clip-path: none;
    width: 100vw;
  }
}

#navTitle {
  font-size: 1.2em;
}

nav {
  /* display of items */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw; /* padding left and right to make the items visible  */
}

nav a {
  /* remove the default underline */
  text-decoration: none;
  color: black;
}

#navLinks {
  /* remove the default list style */
  list-style: none;
  /* remove the default padding by browser */
  padding: 0;

  /* change display to flex so the items are in a row */
  display: flex;
  gap: 2rem;

  background-color: #f0f3fa;

  @media (max-width: 768px) {
    /* shape of the nav */
    /* when screen is small, hide the nav items */
    display: none;
    height: 100vh;
    /* make sure the links are on top of all the items */
    z-index: 1;

    /* position of the nav items */
    /* use position absolute to make the items not affect the layout */
    position: absolute;
    /* position the items below the nav, the height of the nav is 10vh, 
    so this assures is below it */
    inset: 10vh auto auto 0;

    font-size: 3.5em;
  }
}

/* is toggle by the script */
#navLinks.open {
  display: flex;
  flex-direction: column;
  /* remove the default gap */
  gap: 0;
}

#navButton {
  /* when screen is big, hide the hamburger icon */
  display: none;

  width: 30px;
  height: 30px;

  /* remove the default button style */
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: flex;
    /* center the icon in the button */
    justify-content: center;
    align-items: center;
  }
}

#closeIcon {
  display: none;

  width: 35px;
  height: 35px;
}

#hamburgerIcon.hidden {
  display: none;
}

#closeIcon.display {
  display: block;
}

@media (max-width: 768px) {
  #navLinks li {
    text-align: center;

    width: 100vw;
    padding: 10px 0;

    border-bottom: 2px solid rgb(0, 0, 0);
  }

  #navLinks li:first-child {
    border-top: 2px solid white;
  }

  #navLinks li a {
    /* making the items big as the container */
    display: block;
  }
}
